.containerHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  background-color: #F3F3F3;  
}

.container {
  display: flex;
  justify-content:space-between ;
  align-items: center;
  padding: 0px 64px;
  
}

.containerImage {
   display: flex;
  padding-left: 64px;
}

.containerNav {
  width: 50%;
}

.containerUl {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;  
}

.containerLi {
  padding-left: 32px;  
}
