.page {
  width: 100vw;
  height: 100vh;
  
}

.sectionHeader{
  height: 64px;
 }

.sectionHome {
  display: flex;
  height: calc(100% - 64px); 
  margin-bottom: 128px; 
}

.sectionImg {
  z-index: -3;
  width: 100%;
  height: 100%;
}

.sectionDestinoCardTitulo {
  text-align:  center;
  padding: 16px;
}

.sectionDestino {
  display: flex;
  justify-content: space-evenly;
  padding: 64px 16px;
  width: 100vw;
}

.sectionDestinoImg {
  display: block;
  width: 100%; 
}

.TitulosectionDestino {
  text-align: center; 
  border-bottom: 1px solid #171717;
  padding-top: 64px;
  padding-bottom: 16px;
  margin: 0px 64px ;
}

.sectionDestino h3 {
  padding-top: 16px;
}

.sectionDestino p {
  padding-top: 16px;
  text-indent: 32px;
}

.sectionDestinoPraia {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  width: 392px;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #171717;;
}

.sectionDestinoEcoturismo {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  width: 392px;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #171717;
}

.sectionDestinoAgroturismo {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  width: 392px;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #171717;;
}

.sectionEventos {
  display: flex;
  justify-content: center;
  padding: 16px 0px;
}

.sectionEventosContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 900px;
  padding: 16px; 
  background-color: #FAFAFA;
  border-radius: 10px;
  border: 1px solid #171717;
}